.test{font-family: sans-serif}
.test1{font-family: sans-serif}
.test2{}
body {
    padding: 20px;
}

input,
a {
    margin-right: 8px;
}

.done {
    text-decoration: line-through;
}

.list {
    margin-top: 12px;
}
