name: checkPR
run-name: ${{ github.actor }} is testing out checkPR
on: [push]
jobs:
  init:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
      - uses: actions/checkout@v3
      - name: Staring Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: install modules
        run: npm ci
      - name: start project
        run: npm start
      - name: unit-test
        run: npm test
      - name: e2e test
        run: npm run e2e
      
