name: CI

on:
  push:
    branches: [main]
jobs:
  verify:
    name: Verify Files
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: .
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Setup node
      uses: actions/setup-node@v3
      with:
        node-version: '18. x'
    - name: Install packages
      run: npm ci
    - name: Lint
      run: eslint ./src/Application.tsx