name: Run e2e tests on PR
on:
  pull_request:
jobs:
  run-unit-tests-on-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: npm ci
      - name: Install browsers
        run: npx playwright install --with-deps
      - name: Download xvfb
        run: |
          sudo apt update
          sudo apt-get install xvfb -y
      - name: Run e2e tests
        run: xvfb-run npx playwright test
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
