name: Run tests and create release branch
on:
  push:
    tags:
      - v*
  workflow_dispatch:
jobs:
  test:
    name: Passing tests
    runs-on: ubuntu-latest
    steps:
      - name: Get repository code
        uses: actions/checkout@v3
      - name: Set node v18
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: npm ci
      - name: Install playwright
        run: npm i @playwright/test@latest && npx playwright install
      - name: Build
        run: npm run build
      - name: Start unit tests
        run: npm test
      - name: Start e2e tests
        run: npm run e2e
  release:
    name: Creating release
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Get repository code
        uses: actions/checkout@v3
      - name: Show tag
        run: echo "TAG -> ${{ github.ref }}"
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
