name: release

on:
  push:
    tags:
      - "v[0-9]+"
permissions:
  contents: read
  issues: write

jobs:
  changelog:
    runs-on: ubuntu-latest
    if: ${{ github.ref_type  == 'tag' }}

    steps:
      - uses: actions/checkout@v3
      - name: Получить имя тега
        run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
      - name: Получить предыдущий релизный тег
        id: get-previous-tag
        run: |
          echo "PREV_TAG=$(git describe --abbrev=0 --tags $(git rev-list --tags --skip=1 --max-count=1))" >> $GITHUB_ENV
          echo ${{env.PREV_TAG}}

      - name: Коммиты между релизами
        id: collect-commits
        run: |
          commits=$(git log --pretty=format:"%s" ${GITHUB_REF} ^${{ env.PREV_TAG }})
          echo "COMMIT_LIST=$commits" >> $GITHUB_ENV
      - name: Display commit list
        run: echo $COMMIT_LIST
      - uses: JasonEtco/create-an-issue@v2
        env:
          COMMIT_LIST: ${{ env.COMMIT_LIST }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG_DATE: ${{ github.event.head_commit.timestamp }}
        with:
          update_existing: true
