name: Test
on:
  push:
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

  unint-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Get repo code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm ci

      - name: Start unit-tests
        run: npm test

  e2e-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Get repo code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm ci

      - name: Download playwright browsers
        run: npx playwright install --with-deps chromium

      - name: Start e2e tests
        run: npx playwright test --project=chromium