name: Test PR and lint
on:
    pull_request:
jobs:
    unint-tests:
        runs-on: ubuntu-22.04
        steps:
            - name: Get repo code
              uses: actions/checkout@v3
            - name: Install dependencies
              run: npm ci
            - name: Start unit-tests
              run: |
                  for commit in $(git rev-list ${{ github.base_ref }}..${{ github.head_ref }}); do
                    git checkout $commit
                    npm run lint
                    npm test
                  done
